@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
  font: normal 100%/1.5;
}

body {
  margin: 0;
}

nav a{
  text-decoration: none;
  color: #C1C0C0;
}

.banner {
  padding: calc(4em + 40vw) 0 0;
  background: url("../images/banner.jpg") center center / cover no-repeat;
}

.banner-tour {
  padding: calc(3em + 30vw) 0 0;
  background: url("../images/tour-banner.jpg") center center / cover no-repeat;
}

.banner-pricing {
  padding: calc(3em + 30vw) 0 0;
  background: url("../images/pricing-banner.jpg") center center / cover no-repeat;
}

.banner-sign-up {
  padding: calc(2em + 20vw) 0 0;
  background: url("../images/sign-up-banner.jpg") center center / cover no-repeat;
}

.orange {
  color: #EFA853;
}

.black {
  background-color: #242424;
}

label {
  display: block;
}

form div {
  margin-bottom: 1rem;
}

input,
select{
  width: 15em;
  font-size: 1.25 rem;
}

button {
  font-size: 1.25 rem;
  padding: 1em;
  background-color: #737373;
  color: #EFA853;
  cursor: pointer;
}

.button {
  padding: 0.25em 0.5em;
  background-color: #737373;
  color: #EFA853;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button-1 {
  width: 25%;
  padding: 0.25em 0.5em;
  background-color: #737373;
  color: #EFA853;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.icon {
  width: 20%;
}

h3 {
  margin: 0;
}

footer {
  margin-top: 1em;
}


@media only screen and (min-width: 38em) {

  .extra {
    padding-left: 1em;
  }

  .space {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

  .extra {
    padding-left: 0;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }

}
