html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: 3px solid #EFA853;
}

p {
  font-family: 'Droid Serif', serif;
}

h1, h2, h3, ul, copyright, a {
  font-family: 'Oswald', sans-serif;
}

nav a{
  text-decoration: none;
  color: #C1C0C0;
}

circle,
path {
  stroke-width: 0;
}

.banner {
  padding: calc(4em + 40vw) 0 0;
  background: url("../images/banner.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-tour {
  padding: calc(3em + 30vw) 0 0;
  background: url("../images/tour-banner.jpg") center center / cover no-repeat;
  padding-bottom: 1em;
}

.banner-pricing {
  padding: calc(3em + 30vw) 0 0;
  background: url("../images/pricing-banner.jpg") center center / cover no-repeat;
}

.banner-sign-up {
  padding: calc(2em + 20vw) 0 0;
  background: url("../images/sign-up-banner.jpg") center center / cover no-repeat;
}

.banner-thank {
  padding: calc(2em + 20vw) 0 0;
  background: url("../images/thank-you-banner.jpg") center center / cover no-repeat;
}

.orange {
  color: #EFA853;
}

.black {
  background-color: #242424;
}

label {
  display: block;
}

form div {
  margin-bottom: 1rem;
}

input {
  width: 100%;
}

input,
select{
  font-size: 1.25rem;
}

button {
  font-size: 1.25rem;
  padding: 0.5em 0.75em;
  background-color: #737373;
  color: #EFA853;
  cursor: pointer;
}

.button {
  padding: 0.25em 0.5em;
  background-color: #737373;
  color: #EFA853;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button-1 {
  width: 25%;
  padding: 0.25em 0.5em;
  background-color: #737373;
  color: #EFA853;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.icon {
  width: 60%;
}

.icon-2 {
  width: 20%;
  float: right;
  clear: left;
}


h3 {
  margin: 0;
}

footer {
  margin-top: 1em;
  height: 95px;
}


@media only screen and (min-width: 25em) {

  .icon {
    width: 30%;
  }

}

@media only screen and (min-width: 38em) {

  .extra {
    padding-left: 1em;
  }

  .space {
    padding-left: 1em;
    padding-right: 1em;
  }

  .icon {
    width: 23%;
  }

  .icon-2{
    width: 13%;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

  .extra {
    padding-left: 0;
  }

  .icon {
    width: 18%;
  }

  .icon-2{
    width: 8%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }

  .icon {
    width: 12%;
  }

  .icon-2{
    width: 6%;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }

  .icon {
    width: 8%;
  }

  .icon-2{
    width: 5%;
  }


}
